::-moz-selection { 
  color: #FF391F;
  background:none;
}
::selection {
  color: #FF391F;
  background:none;
}



@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');

@font-face {
  font-family: 'Sedan Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Sedan Regular'), url('../fonts/sedan/Sedan-Regular.woff') format('woff');
  }
  

#logo {
  height: auto ;
  max-width: 100%;
}

.header {
  height: 45vh;
  background-position: right 25% bottom 5%;;
  background-image: url("../images/cafe.jpg") ;
}

#navbar {
  background-color: #303236;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:3;
}


p {
  padding: 1.5em 1em 0em 1.5em;
  font-size: 14px;
  color: white;
  font-family: 'Stardos Stencil';
}

.imgdsk {
  display: none;
}
.com {
  position: relative;
  left: 30vw;
  width: 65%;
  z-index: 2;
}

#signature {
  text-align: end;
}

.number {
  white-space: nowrap;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  font-family: 'Sedan Regular';

}


.fit-picture {
  object-fit: contain;
  width: 80%
}



table {
  margin-top: 16px;
  color: white;
  font-family: 'Stardos Stencil';
}

hr {
  border: none;
  height: 5px;
  background-color: #FF391F;
  width: 60%;margin-left: auto;margin-right: auto;
  opacity: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 16px;
  font-size: 30px;
}
a.hover {
  color: white;
}

span {
  transform: scale(2);
  color: white;
}

body {
  margin: 0;
  background-color: #303236 ;
}